* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-auto-flow: row;
    
}

header {
    grid-area: 1/1/2/13;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background-color: #ffb700;
    position: sticky;
    left:0;
    right:0;
    top:0;

    
}

#header-nav {
    width: fit-content;
    margin-right: 7%;
    height: 100%;
    
}

#header-nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
     
    
}

#header-nav ul li {
    list-style: none;
    margin-left: 3%;
    height: 75%;
    white-space: nowrap;
    background-color: white;
    padding-right: 1.5%;
    padding-left: 1.5%;    
}
#header-nav ul li a {
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1vh;

   
    
}

#img-container {
    height: 100%;
    justify-self: flex-start;
}

#img-container img {

    height: 100%;
    object-fit: contain;
   
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, fit-content);
    grid-auto-rows: 1fr;
    
   
}
main #bckgr-h1 {
    grid-area: 1/1/2/13;
    background-image: linear-gradient(0deg, rgba(255, 183, 0, 0.2), rgba(255, 183, 0, 0.3)), url("./jelena-ardila-vetrovec-OUXJcmQSzdE-unsplash.jpg");
    background-position:center;
    background-size: cover;
    color: white;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bckgr-h1 h1{
    background-color:#ffb700;

}

#turniri {
    grid-area: 2/1/4/7;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#turniri h2 {
    padding: 1% 0;
    color:#ffb700;
}

#turniru-tab {
    
    border: 2px dotted #ffb700;
    display: flex;
    flex-flow: column;
}

td, th {
    
    border: 1px dotted grey;
}


thead {
    background-color: #ffb700;
    color: white;
}

tbody {
    
    height: 30vh;
    overflow-y: scroll;
}


#tryout {
    grid-area: 2/7/4/13; 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#tryout p {
    padding-bottom: 1%;
}

h2 {
    padding: 1% 0;
    color:#ffb700;
}

#gallery {
    grid-area: 4/1/9/13;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#gallery h2 {
    padding: 1% 0;
}

main footer {
    grid-area: 9/1/11/13;
}

#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 60%;
    /* The width is the width of the web page */
   
  }